<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.defenderstudio.geeksjob">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS " />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeeksJob"
        tools:ignore="LockedOrientationActivity"
        android:largeHeap="true"
        android:resizeableActivity="true">
        <activity
            android:name=".LeaderBoard"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5052828179386026~6268256882" />

        <activity
            android:name=".GroupChatActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Curriculum"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Rewards"
            android:noHistory="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuestionAnsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizActivity"
            android:noHistory="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NoticeBoard"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CommunityGroup"
            android:noHistory="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>